<span><p><h3>CALCULADORA</h3></p></span>

<div class="container">

<div class="row calculadora">

<div class="row displayCalc col-xs-12">
	<div class="coluna1 col-xs-4"></div>
	<div class="coluna2 col-xs-4"><input ng-model="display" type="number" disabled="true" align="center"/></div>
	<div class="coluna3 col-xs-4"></div>
</div>

<div class="teclado col-xs-12">
	<div class="coluna1 col-xs-4">a</div>
	<div class="numero col-xs-4">

	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="inicio()" value="">AC</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="" value=""> % </button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="divisao()"> / </button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="" value=""> <- </button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="operacao(7)" value="7"> 7 </button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="operacao(8)" value="8"> 8 </button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="operacao(9)" value="9">9</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="multiplica()" value="multiplicar()">X</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="operacao(4)" value="4">4</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="operacao(5)" value="5">5</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="operacao(6)" value="6">6</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="subtrai()" value="subtrair">-</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="operacao(1)" value="1">1</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="operacao(2)" value="2">2</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="operacao(3)" value="3">3</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="soma()" value="somar">+</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="operacao(0)" value="0">0</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="," value=",">,</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="" value="">( )</button></div>
	<div class="teclas col-xs-3"><button class="btn btn-default" ng-click="igual()" value="=">=</button></div>
</div>
<div class="coluna3 col-xs-4">a</div>
</div>

</div>

</div>