
<div class="container">
  <div class="row">
      <div class="col-xs-12"><h1>Próximo há jogar é: <img src="{{qualJogador()}}"></span> </h1></div>
    <div class="col-xs-4 casa" ng-click="jogar(0)"><span img src="qualJogador {{tabuleiro[0]}}"></span></div>
    <div class="col-xs-4 casa" ng-click="jogar(1)"><span img src="qualJogador {{tabuleiro[1]}}"></span></div>
    <div class="col-xs-4 casa" ng-click="jogar(2)"><span img src="qualJogador {{tabuleiro[2]}}"></span></div>
    <div class="col-xs-4 casa" ng-click="jogar(3)"><span img src="qualJogador {{tabuleiro[3]}}"></span></div>
    <div class="col-xs-4 casa" ng-click="jogar(4)"><span img src="qualJogador {{tabuleiro[4]}}"></span></div>
    <div class="col-xs-4 casa" ng-click="jogar(5)"><span img src="qualJogador {{tabuleiro[5]}}"></span></div>
    <div class="col-xs-4 casa" ng-click="jogar(6)"><span img src="qualJogador {{tabuleiro[6]}}"></span></div>
    <div class="col-xs-4 casa" ng-click="jogar(7)"><span img src="qualJogador {{tabuleiro[7]}}"></span></div>
    <div class="col-xs-4 casa" ng-click="jogar(8)"><span img src="qualJogador {{tabuleiro[8]}}"></span></div>

  </div>
  </div>

<img src="images/atletico.jpg">