<p>This is the Revisao view.</p>

<div class="container">

<div class="row contador">

	<div class="contador1 col-xs-4"><input ng-model="contador1" type="number" disabled="true" align="center"/></div>
	
	<div class="incremento col-xs-3"><button class="btn btn-default" ng-click="incrementa()" value="">+</button></div>

</div>
<div class="row contador">

	<div class="contador2 col-xs-4"><input ng-model="contador2" type="number" disabled="true" align="center"/></div>
	
	<div class="incremento col-xs-3"><button class="btn btn-default" ng-click="incrementa2()" value="">+</button></div>
	
</div>

<div class="coluna3 col-xs-4">a</div>
</div>

</div>

</div>